/* DEFAULT */

@import url('../Components/defaultCssComp.css');

/* DEFAULT */

/* BODY */

/*Container default*/

.container {
    padding: 4% 0 0 0;
    background-color: var(--color-verde-oscuro);
    margin-top: 20vh;
    inset: 0;
    border-radius: 50px 50px 0 0;
    position: absolute;
    overflow-y: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-content{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
}

.wrap-container-active{
    transform:scaleY(0.8)scaleX(0.7)translateX(60%);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.538);
}

.wrap-container {
    transition: all 0.6s;
    overflow: hidden;
    background-color: whitesmoke;
    position: absolute;
    inset: 0;
}

/*Container default*/

.container-content-img{
    height:7rem;
    margin-bottom: 2rem;
}

h2{
    color: white;
    text-align: center;
    font-weight: 500;
}

form{
    padding:4% 8%;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.form-input-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    border: 2px #c3c3c3 solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.60);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.form-cont-div{
    display: flex;
    flex-direction: row;
    align-items:end;
    gap: 0.5rem;
    width: 100%;
    border-left: 1px #c3c3c36b solid;
    border-bottom: 1px #c3c3c36b solid;
    padding: 0.5rem;
    box-sizing: border-box;
}   

.form-cont-div-button{
    gap: 0;
    padding: 0;
    min-height: 3rem;
}

.form-icon{
    color: var(--color-naranja);
    font-size: 22px;
    padding-bottom: 5px;
}

.label-input-div{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

.form-label{
    color: var(--color-verde-claro);
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    text-indent: 4px;
}

.form-input{
    background-color:transparent;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-size: 16px;
    width: 100%;
    gap: 0;
    cursor: pointer;
}
.form-input-button{
    background-color: transparent;
    border: none;
    color: white;
    text-transform:capitalize;
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-size: 16px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.label-input-div-button{
    height: 100%;
}

.label-input-div-button:hover > .form-input-button{
    color: var(--color-verde-oscuro);
    background-color: var(--color-naranja);
}

.form-input-button:focus{
    color: var(--color-verde-oscuro);
    background-color: var(--color-naranja);
}

input:focus{
    border: none;
    outline: none;
}

input[type=date]::-webkit-calendar-picker-indicator{
    background-position:right;
    cursor: pointer;
    filter: invert(1);
    background-size: 1.2rem;
    transition: 0.1s linear;
}

input::-webkit-calendar-picker-indicator:hover{
    rotate: 15deg;
}

option{
    background-color: var(--color-verde-oscuro);
    border: none;
    outline: none;
    color: white;
    font-weight: 500;
}

.form-submit-btn{
    padding:0.9rem 4rem;
    border-radius: 10px;
    border: none;
    background-color: var(--color-naranja);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}

.submitBtn span{
    position: relative;
    z-index: 100;
    font-size: 16px;
}

.submitBtn{
    width: 17rem;
    height: 3.5rem;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: var(--color-naranja);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.submitBtn::after{
    content: "";
    position: absolute;
    background-color: var(--color-naranja);
    filter: brightness(1.1);
    height: 300%;
    width: 100%;
    transform: translateX(-120%) rotate(20deg);
    transition: all .5s ease-in-out;
}

.submitBtn::before{
    content: "";
    position: absolute;
    background-color: var(--color-naranja);
    filter: brightness(1.1);
    height: 300%;
    width: 10%;
    transform: translateX(-800%) rotate(20deg);
    transition: all .5s ease-in-out;
    transition-delay: 0.1s;
}

.submitBtn:hover::after{
    transform: translateX(-80%)rotate(20deg);
}

.submitBtn:hover::before{
    transform: translateX(-150%)rotate(20deg);
}

.form-submit-btn:hover{
    transition: all 0.2s;
    padding: 0.9rem 3.6rem;
}

.section-benefits{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6rem 2rem;    
    background-color: var(--color-verde-oscuro-2);
}

.section-benefits-item{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    height: 100%;
}

.section-image{
    width: 80%;
}

.section-subtitle{
    font-weight: 700;
    font-size: 24px;
    color: var(--color-verde-claro);
}

.section-text{
    font-size: 16px;
    color: var(--color-verde-claro);
}


@media screen and (max-width:1300px){
    .section-benefits-item{
        width: 35%;
    }
}

@media screen and (max-width:1050px){
    .form-input-container{
        grid-template-columns: repeat(2,1fr);
    }
    .section-benefits{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .section-benefits-item{
        width: 65%;
    }
}

@media screen and (max-width:700px){
    .container-content-img{
        height: 4.5rem;
    }
    .section-benefits-item{
        width: 85%;
    }
    .form-input-container{
        grid-template-columns: repeat(1,1fr);
    }
    .submitBtn{
        margin: 0.5rem 0 5rem 0;
    }

}



/* BODY */