
.right-side-title{
    color: var(--color-verde-claro);
    margin-bottom: 1.5rem;
}

.icon{
    color: var(--color-naranja);
}

.config-container{
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-verde-oscuro-2);
    box-shadow: var(--box-shadow-1);
    z-index: 1000000;
}

.config-content{
    background-color: var(--color-verde-oscuro);
    overflow-y: hidden;
    height: 100%;
    overflow-x: hidden;
    width: 100%;
    padding: 5rem 1rem;
}

.config-content::-webkit-scrollbar{
    background-color: var(--color-verde-oscuro-2);
    width: 8px;
}

.config-content::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--color-verde-claro);
}

.right-side-item{
    padding: 2.5rem 1rem;
    width: 100%;
    display: flex;
    flex-direction:column ;
    overflow: hidden;
}

.language-item{
    width: 100%;
}

.language-item-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px 15px 15px 50px;
    padding:0.5rem;
    background-color: var(--color-verde-oscuro-2);
    position: relative;
    cursor: pointer;
}

.language-item:hover > .language-item-content{
    width: 95%;
}

.icon{
    font-size: 30px;
    position: absolute;
    right: 20px;
}

.language-img{
    height: 50px;
}

.language-content{
    align-items:right;
    flex: 1;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.language-name{
    padding-left: 10px;
    font-size: 19px;
    color: var(--color-verde-claro);
}

.close-config{
    align-self:flex-start;
    left: 0;
    padding: 1.5rem;
    border-radius: 0 0 50px 0;
    background-color: var(--color-verde-oscuro-2);
    position: absolute;
    z-index: 999999;
    box-shadow: var(--box-shadow-1);
}

.icon-close-config{
    padding: 15px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    border: 2px solid var(--color-verde-claro);
    color: var(--color-verde-claro);
    border-radius: 50px;
}

.icon-close-config:hover{
    background-color: var(--color-verde-claro);
    color: var(--color-verde-oscuro-2);
}

.theme-content{
    align-items:right;
    flex: 1;
    padding: 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    background-color: var(--color-verde-oscuro-2);
    padding: 1rem;
    border-radius: 15px;
}

.theme-item{
    min-height:70px;
    flex: 1;
    background-color: var(--color-verde-oscuro-2);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    box-shadow: var(--box-shadow-1);
    cursor: pointer;
}

.theme-item:hover::after {
    transform: translateY(120px);
    filter: brightness(1.2);
}

.theme-item::after {
    position: absolute;
    content: "";
    rotate: 140deg;
    height: 170%;
    width: 140%;
    transform: translateX(40px) translateY(90px);
    transition: 0.3s all linear;
}

#theme1Action{
    background-color: #425C5A;
}

#theme2Action{
    background-color: #3F2E3E;
}

#theme3Action{
    background-color: #581818;
}

#theme4Action{
    background-color: #434f9d;
}

#theme5Action{
    background-color: #a76324;
}

#theme6Action{
    background-color: #10093d;
}


#theme1Action::after{
    background-color: #293b3a;
}

#theme2Action::after{
    background-color: #331D2C;
}

#theme3Action::after{
    background-color: #310B0B;
}

#theme4Action::after{
    background-color: #252e65;
}

#theme5Action::after{
    background-color: #804309;
}

#theme6Action::after{
    background-color: #09032B;
}

@media screen and (max-width:1300px) {
    .theme-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1050px){
    .language-right-side{
        width: 100%;
        padding: 3rem 0;
    }
    .config-content{
        width: 90%;
    }
    .close-config{
        background-color: var(--color-verde-oscuro-2);
    }
    .theme-item::after{
        rotate: 158deg;
    }
}

@media screen and (max-width:900px){
    .config-content{
        overflow-y: scroll;
    }
}
@media screen and (max-width:600px) {
    .theme-content{
        grid-template-columns: repeat(1, 1fr);
    }
}