@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-azul:#396ba8;
    --color-aprobado:#39a83b;
    --color-desaprobado:#a83939;
    --color-verde-oscuro-2:#293b3a;
    --color-verde-oscuro:#425C5A;
    --color-verde-claro:#e0d9c8;
    --color-verde-claro-2:#d9e8e7;
    --color-naranja:#FFCEA2;
    --color-blanco:#FFFFFF;
    --color-sepia: #d4b08c;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

:root.theme2{
    --color-verde-aprobado:#39a83b;
    --color-verde-desaprobado:#a83939;
    --color-verde-oscuro-2: #331D2C; 
    --color-verde-oscuro: #3F2E3E;
    --color-verde-claro: #e0d9c8;
    --color-verde-claro-2: #d9e8e7;
    --color-naranja: #A78295;
    --color-blanco: #FFFFFF;
    --color-sepia: #f4a460;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

:root.theme3{
    --color-verde-aprobado:#39a83b;
    --color-verde-desaprobado:#a83939;
    --color-verde-oscuro: #581818; 
    --color-verde-oscuro-2: #310B0B;
    --color-verde-claro: #e0d9c8;
    --color-verde-claro-2: #d9e8e7;
    --color-naranja: #E2703A;
    --color-blanco: #FFFFFF;
    --color-sepia: #EEB76B;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

:root.theme4{
    --color-verde-oscuro: #434f9d; 
    --color-verde-oscuro-2: #252e65;
    --color-verde-claro: #e0d9c8;
    --color-verde-claro-2: #d9e8e7;
    --color-naranja: #FCCD00;
    --color-blanco: #FFFFFF;
    --color-sepia: #EEB76B;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

:root.theme5{
    --color-verde-oscuro: #a76324; 
    --color-verde-oscuro-2: #804309;
    --color-verde-claro: #e0d9c8;
    --color-verde-claro-2: #d9e8e7;
    --color-naranja: #ffc289;
    --color-blanco: #FFFFFF;
    --color-sepia: #EEB76B;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

:root.theme6{
    --color-verde-oscuro: #10093d; 
    --color-verde-oscuro-2: #09032B;
    --color-verde-claro: #e0d9c8;
    --color-verde-claro-2: #d9e8e7;
    --color-naranja: #ff8400;
    --color-blanco: #FFFFFF;
    --color-sepia: #EEB76B;
    --poppins:'Poppins';
    --box-shadow-1:0 0 10px rgba(0, 0, 0, 0.30) ;
}

body{
    background-color:whitesmoke;
}

html{
    overflow-x: hidden;
}

html::-webkit-scrollbar,.container::-webkit-scrollbar,.booking-container::-webkit-scrollbar{
    background-color: var(--color-blanco);
    width: 8px;
}

html::-webkit-scrollbar-thumb,.container::-webkit-scrollbar-thumb,.booking-container::-webkit-scrollbar-thumb{
    background-color: var(--color-verde-oscuro);
}

*{
    margin: 0;
    padding: 0;
    font-family:'Poppins';
    color:var(--color-verde-oscuro);
    font-family: var(--poppins);
    transition: all .3s;
    text-decoration: none;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* Para navegadores basados en WebKit (Google Chrome, Safari, entre otros) */
input:-webkit-autofill {
    -webkit-background-clip: text; /* Hace que el fondo se aplique solo al texto */
    background-color: transparent !important; /* Establece el fondo como transparente */
    -webkit-text-fill-color: var(--color-verde-claro) !important;
}

input[type="button"],input[type="submit"],button,.submit,.submitBtn{
    cursor: pointer;
}


.swal2-container{
    z-index: 99999;
}

.swal2-modal,.swal2-icon--success:before,.swal2-icon--success:after,.swal2-icon--success__hide-corners{
    background-color: var(--color-verde-oscuro-2);
}

.swal2-success-line-tip,.swal2-success-line-long{
    background-color: var(--color-naranja) !important;
}

.swal2-icon--success{
    border-color: var(--color-naranja) !important;
}

.swal2-success-ring{
    border-color: var(--color-naranja) !important;
    opacity: 0.4 !important;
}

.swal2-title,.swal2-html-container{
    color: var(--color-verde-claro) !important;
}

.swal2-footer{
    justify-content: center;
    display: flex;
}

.swal2-confirm{
    background-color: var(--color-naranja) !important;
    color: var(--color-verde-oscuro-2) !important;
    border: none !important;
    outline: none !important;
    border-radius: 50px !important;
    padding: 0.6rem 2.5rem !important;
}

.swal2-button:not([disabled]):hover {
    filter: brightness(0.9);
    padding: 0.6rem 2.8rem;
    background-color: var(--color-naranja);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.698);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}


.loader::after {
    content: "";
    border: 10px solid var(--color-verde-claro-2);
    border-top: 10px solid var(--color-verde-oscuro);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
}

/* Definición de la animación de giro */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}