/* DEFAULT */

@import url('../Components/defaultCssComp.css');


/* DEFAULT */

/* BODY */

/*Container default*/

.container {
    background-color: var(--color-verde-oscuro);
    margin-top: 20vh;
    inset: 0;
    border-radius: 50px 50px 0 0;
    position: absolute;
    overflow-y: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-content{
    padding:4% 8%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: max-content;
    gap: 3rem;
}

.wrap-container-active{
    transform:scaleY(0.8)scaleX(0.7)translateX(60%);
    border-radius: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.538);
}

.wrap-container {
    transition: all 0.6s;
    overflow: hidden;
    background-color: whitesmoke;
    position: absolute;
    inset: 0;
}

/*Container default*/

.title-company{
    font-size:40px;
    color: var(--color-verde-claro-2) !important;
    font-weight: 300 !important;
}
.title{
    text-transform: uppercase;
    font-size:20px;
    color: var(--color-naranja) !important;
}

.company-text{
    color: var(--color-verde-claro-2) !important;
    line-height: 2.3rem !important;
    text-transform: initial;
    font-size: 18px;
}

@media screen and (max-width:900px){
    .company-text{
        text-align: justify;
    }
    .title-company,.title{
        text-align: center;
        width: 100%;
    }
}

/* BODY */